.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  color: #22c55e;
  animation: bounce 1s infinite;
  padding: 25px;
}

@keyframes bounce {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: none;
  }
  100% {
    transform: translateY(10px);
  }
}
